.address-choices,
.park-choices {
    z-index: 1000000;
    position: relative;
    stroke: true;
    border: 1px solid gray;
    background: rgba(250, 250, 250, 0.9);
    box-shadow: 3px 3px 10px #888888;
    color: rgb(61, 60, 60);
    /* need to specify max-height, otherwise overflow won't work */
    max-height: 15rem;
    overflow: auto;
    cursor: pointer;
}

.address-choices li,
.park-choices li {
    stroke: true;
    border-bottom: 1px solid gray;
}

.input-box-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50%;
}

#entry {
    height: 20px;
    margin: 0;
    padding: 0;
    margin-right: 2px;
    border: 1px solid #a5a2a2;
    border-radius: 3px;
}

.cross-icon {
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}

.cross-icon:hover {
    background-color: #f4f4f4;
}

.cross-icon:hover path{
    stroke: brown;
}