/* style of the legend */
.legend-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.legend {
    background-color: rgba(230, 224, 224, 0.438);
    padding: 0.7rem;
    width: min-content;
}

.legend-content {
    display:flex;
    box-sizing: border-box;
    flex-direction: row;
}

.legend h2 {
    font-size: 0.8rem;
    margin: 0%;
}
  
.soil-legend h3,
.park-legend h3 {
    font-size: 0.7rem;
    padding: 0.3rem;
}

.soil-entries,
.park-entries {
    font-size: 0.7rem;
    list-style: none;
    padding-left: 0;
}
  
.lead-entry,
.park-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
}
  
.lead-color,
.park-color {
    width: 1rem;
    height: 1rem;
    display: inline-block;
}

/* map tooltip and popup */
.tool-lead,
.tool-park {
    margin: 0;
}

.pop-title {
    margin: 0;
}

.pop-content {
    margin: 0;
    height: 0.3rem;
}

li {
    margin: 0.2rem; 
}

/* style of the back button and mobile button*/
.back-button {
    border: 2px solid #ccc;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* change cursor to hand when hover over the button */
    cursor: pointer;
}

.back-button:hover {
    background-color: #f4f4f4;
}

.back-button:hover path {
    fill: brown;
    stroke: brown;
}

.mobile-menu {
    display: none;
}

/* media query for mobile menu */

@media screen and (width <= 1000px) {
    .mobile-menu {
        border: 2px solid #ccc;
        height: 30px;
        width: 30px;
        border-radius: 4px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        /* change cursor to hand when hover over the button */
        cursor: pointer;
        margin-top: 4px;
    }
    
    .legend {
        display: none;
        background-color: rgba(255, 255, 255, 0.8);
        border: 2px solid #ccc;
        border-radius: 4px;
    }
}
