/* filtering block styles */

fieldset {
    FONT-WEIGHT: 400;
    font-size: 0.8rem;
    color: rgb(61, 60, 60);
    height: 100%;
    min-height: 70px;
    box-sizing: border-box;
    margin: 0;
    border-width: 1px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#by-address,
#by-park {
    cursor: pointer;
}

legend {
    font-size: 0.9rem;
}

.radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50%;
    min-height: 22px;
}

.input-box-group {
    min-height: 22px;
}

.input-choice{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-choice span {
    display: none;
}

.explain:hover + span {
    display: block;
    position: absolute;
	width: 90px;
	margin: 0px;
    padding: 0.5rem;
    border-radius: 5px;
    color: '#4f5b8c';
    background: rgba(255, 255, 255, 0.8);
	text-align: left;
	border: 1px solid #a7a7a7;
}

#address-pop {
    bottom: 85vh;
	right: 130px;
}

#park-pop {
    bottom: 85vh;
	right: 30px;
}

.explain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    text-indent: 4px;
}


#address-radio {
    margin-right: 10px;
}

/* park list style */

.park-list {
    padding: 0;
    list-style: none;
    margin: 0;
    border-bottom: 1px solid rgb(187, 186, 186);
    border-top: 1px solid rgb(187, 186, 186);
}

#list-title {
    font-size: 0.9rem;
    color: rgb(61, 60, 60);
    height: 16px;
    box-sizing: border-box;
    margin: 0.2rem;
}

.park-list li {
    margin: 0.2rem; 
    margin-bottom: 7px;
    border-top: 1px solid rgb(85, 65, 65);
}

.park-name {
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 5px;
    color: rgb(84, 83, 83);
    margin-bottom: 4px;
}

.park-parent {
    font-size: 0.7rem;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 0.7rem;
    padding: 0.2rem;
    background-color: #e6f3e5;
    margin: 2px;
}

.park-use {
    font-size: 0.7rem;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 0.7rem;
    padding: 0.2rem;
    background-color: #f5efe5;
    margin: 2px;
}


/* mobile compatibility */

@media screen and (width <= 1000px) {
    .explain {
        display: none;
    }


    #fold-title {
        font-size: 0.9rem;
        color: rgb(61, 60, 60);
        height: 16px;
        box-sizing: border-box;
    }
    
}